
html {
  height: 100%;
  overflow: hidden;
  background-color: #336699;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #336699;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.slide {
  position: relative;
  padding: 15% 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.slide > img {
  position: absolute;
  top: 50%;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.slide > img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

#slide1 {
  background-image: url("images/8054418418_c1134f31d5_b3hd.jpg");
  background-attachment: fixed;
  height: 100vh;
}

#header {
  /*margin: auto;*/
  position: absolute;
  top: 30px;
  right: 30px;
}
#header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#header ul li {
  margin:0;
  overflow: visible;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*border: 1px solid #000;*/
  display: inline-block;
  cursor: pointer;
  background-color: #E68700;
  color: #ffffff;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  font-size: 125%;
}
#header ul li:hover {
  background-color: #B44B00;
}
#header ul li:active {
  position: relative;
  /*top: 1px;*/
}
#header ul li a {
  text-decoration: none;
  color: inherit;
}

#slide1 svg {
  position: absolute;
  top: 20%; right: 95%; bottom: 80%; left: 5%;
  width: 450px;
  height: 300px;
  fill: #E68700;
}

#slide1 .span {
  float: right;
  top: 20%; bottom: 80%; left: 85%;
  padding: 40px 50px;
}

#slide2 {
  background-color: #D2730F;
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 img {
  left: 85%;
  width: 600px;
  height: 440px;
}

#slide3 {
  background-image: url("images/4652361728_ea61a91043_o2.jpg");
  background-attachment: fixed;
}

#slide3 .span {
  float: right ;
}

#slide3 img {
  left: 40%;
  width: 500px;
  height: 340px;
}

#slide4 {
  background: #787878;
}

.us > img {
  height: 200px;
  width: 200px;
  border-radius: 50% !important;
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

button {
  margin: 5px;
  overflow: visible;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  background-color: #E68700;
  color: #ffffff;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  font-size: 125%;
}

.span {
  width: 50%;
  padding: 5%;
  border-radius: 10px;
  background: rgba(255,255,255,.9);
  background: rgba(240,230,220, .9);
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

h1 {
   /*font-size: 250%*/
}

p {
/*  font-size: 140%;
  line-height: 150%;
  color: #333;*/
}

.slide:nth-child(2n) .title {
/*  margin-left: 0;
  margin-right: auto;*/
}

.slide:nth-child(2n+1) .title {
/*  margin-left: auto;
  margin-right: 0;*/
}





