/**
 * Foglio di stile per Client web UNIMIB CHAT 
 * (c)2014 Alfio E. Fresta
 * <alfio.fresta@alacriter.co.uk>
 **/


#corpo {
	height: 100%;
	padding-top: 60px;
	padding-bottom: 20px;
}

#comp-caricamento {
	margin-top: 80px;
	display: block;
}
#comp-caricamento div {
	padding-bottom: 40px;
}

.componente-corpo {
	display: none;
}

.tab {
	display: none;
}

#accesso-img {
	margin: -5px;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	vertical-align: middle;
}

/* 
 * Utilita' varie
 */
 
.allinea-centro {
	text-align: center;
}
.allinea-destra {
	text-align: right;
}
.allinea-sinistra {
	text-align: left;
}
.nascosto {
	display: none;
}
.visibile {
	display: block ;
}
.grassetto { 
	font-weight: bold;
}


/* 
 * Stile navbar/sidebar
 */
 
.sidebar {
	overflow: auto;
	position: fixed;
	width: 15%;
	top: 60px;
}

.navbar {
	box-shadow: 0px 0px 1px black;
}

.nav-sidebar li {
	border-right: 2px solid #CCC;
	border-bottom: 1px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
	background-color: #EFEFEF;
}
.nav-sidebar li.active {
	border-right: none;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	background-color: white;

}

.tag-span {
	cursor: pointer;
	vertical-align: text-top;
	font-size: 73% !important;

}

.nav-sidebar li.active a:hover {
	background-color: white;
}

#scrollabile {
	min-height: 600px;
	overflow: auto;
	padding-bottom: 40px;
}

.tag-cliccabile {
	cursor: pointer;
}

/* 
 * STILE ELENCO DEI TAG 
 */
#trending-tags {
	margin: 15px 0px;
}

#trending-tags li a {
	padding-top: 1px;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
}

#trending-tags li a {
	cursor: pointer;
}

/*
 * Modulo di invio 
 */
#modulo-msg {
	border-top: 1px solid gray;
	padding-top: 8px;
}

#username {
	font-weight: bold;
	cursor: pointer;
}

#subscribed-tags .tag-span {
	font-size: 18px;
	line-height: 200%;
}

#cambia-nick-msgs p {
	padding: 3px 5px;
}

.nickname-scelto {
	font-weight: bold;
}



footer {
	margin-top: 8px;
	padding: 15px 25px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .4);
	text-shadow: 1px 1px 0px black;
	box-shadow: 1px 1px 2px black;
	color: white;
	font-weight: bold;
}

/* 
 * STILE MESSAGGI
 */
.autore, .tags {
	font-size: 93% !important;
	padding-top: 8px !important;
	margin-left: 3px;
	float: left;
}

.autore{
	font-style: italic;
}


td.messaggio {
	width: 93%;

}
div.messaggio {
	clear: both;
	padding-left: 18px;
	background-image: url('/assets/bordo-blu-msg.png');
	background-repeat: repeat-y;;
}
td.data-reply { 
	/*float: left;*/
	width: 7%;
}


/* Stile nel citare una persona in un messaggio */
.msg-tag {
	font-weight: bold;
	color: #008;
	cursor: pointer;
}

/* ... in piu', se quella persona sono io */
.msg-tag-io {
	color: #C00;
	cursor: normal;
}

.cliccami {
	cursor: pointer;
}

/*Sovascrivo un po' di roba di bstrap*/

.label-primary {
	background-color: #5F81C5;
}

.label-default {
	background-color: #96B9FA;
}

/** 
 * Stile fluido 
 * 
 */
body {
	padding-bottom: 50px;
}

.attacca-fondo {
	position: fixed;
	bottom: 0px;
	padding: 10px;
	background-color: white;
}

.id-avatar {
	width: 1.2em;
	height: 1.2em;
}

/**
 * test
 */
.tag-laterale span {
	background-color: black;
}

.tag-laterale-si {
	background-color: green;
}

.tag-laterale-no {
	background-color: red;
}


